<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.watchapi.mapper.GdGroupMapper">

    <!-- 多表查询 -->
    <select id="queryInfoByStuIdOrSubId1" resultType="com.thc.watchapi.dto.GradeDto">
        select g.id as gradeId, g.student_id as studentId, g.subject_id as subjectId, g.grade as grade, s.name as studentName, sub.name as subjectName, sub.weight as weight
        from gd_grade g
        left join gd_student s on s.id = g.student_id
        left join gd_subject sub on sub.id = g.subject_id
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            <if test="studentId !=null and studentId !='' ">
                AND g.student_id = #{studentId}
            </if>
            <if test="subjectId !=null and subjectId != '' " >
                AND g.subject_id = #{subjectId}
            </if>
        </trim>
    </select>

</mapper>